<div class="row">
	<div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
		<p><img src="/images/logo.jpg" class="img-responsive img-rounded" alt="Логотип"></p>
		<a class="btn btn-primary" ng-show="auth.isUser" href="#/user/cabinet">Ваш особистий кабінет</a>
	</div>
	<div class="col-xs-7 col-sm-8 col-md-5 col-lg-6">
		<h2>Звернення до учасників</h2>
	</div>
	<div class="hidden-xs hidden-sm col-md-4 col-lg-3">
		<h3>Свіжі об'яви</h3>
		<div class="row" ng-repeat="assistance in lastAssistances">
			<p>{{ assistance.description }}</p>
			<hr>
		</div>
	</div>
</div>