<div>
	<div ng-show="visibility.viewProfile">
		<h2>Мій особистий кабінет</h2>
		<div class="row">
			<div class="col-md-3">
				<img src="../images/avatar.gif" class="img-responsive img-rounded" alt="фото">
			</div>
			<div class="col-md-9">
				<p>E-mail: {{user.login}}</p>
				<p>Зареєстрований: {{user.createTime}}</p>
				<p>Ваше ім’я: {{ user.options.lastName }} {{ user.options.firstName }} {{ user.options.middleName }}</p>
				<p>Телефон: {{ user.options.phone }}</p>
				<p>Адреса: {{ user.options.address }}</p>
				<div class="btn-group">
				  <button type="button" class="btn btn-primary" ng-click="editUserInfo(true)">Редагувати</button>
				  <button type="button" class="btn btn-default" ng-click="changePassword(true)">Змінити пароль</button>
				</div>
			</div>
		</div>
		<p>&nbsp;</p>
		<p><button type="button" class="btn btn-default">Мій рахунок балів</button></p>
		<p>
			<button ng-click="disableAll()" type="button" class="btn btn-default">Призупинити</button>
			/
			<button ng-click="enableAll()" type="button" class="btn btn-default">Відновити</button>
			мої оголошення
		</p>
		<p><button type="button" class="btn btn-default">Написати адміністратору</button></p>
		<p><button type="button" class="btn btn-default">Вартість кошику споживчого</button></p>
	</div>

	<div ng-show="visibility.editProfile">
		<h2>Редагування особистої інформації</h2>
		<div ng-show="error" class="alert alert-warning">{{ error }}</div>
		<form role="form" ng-submit="submitProfile()">
			<div class="form-group">
			  <label for="firstName">Ім’я</label>
			  <input type="text" class="form-control" id="firstName" ng-model="options.firstName" placeholder="Введіть ваше ім’я">
			</div>
		  	<div class="form-group">
		  	  <label for="middleName">По батькові</label>
		  	  <input type="text" class="form-control" id="middleName" ng-model="options.middleName" placeholder="Введіть ваше ім’я по батькові">
		  	</div>
		  	<div class="form-group">
		  	  <label for="lastName">Прізвище</label>
		  	  <input type="text" class="form-control" id="lastName" ng-model="options.lastName" placeholder="Введіть ваше прізвище">
		  	</div>
		  	<div class="form-group">
		  	  <label for="phone">Телефон</label>
		  	  <input type="text" class="form-control" id="phone" ng-model="options.phone" placeholder="Введіть номер вашого телефону" required>
		  	</div>
		  	<div class="form-group">
		  	  <label for="address">Адреса проживання</label>
		  	  <input type="text" class="form-control" id="address" ng-model="options.address" placeholder="Введіть свою адресу проживання: вулиця, район, місто/село" required>
		  	</div>
			<button type="submit" class="btn btn-primary">Зберегти</button>
			<button type="button" class="btn btn-default" ng-click="editUserInfo(false)">Відмінити</button>
		</form>
	</div>

	<div class="row" ng-show="visibility.viewChangePass">
		<div class="col-md-7 col-lg-4">
		<h2>Зміна пароля</h2>
			<div ng-show="error" class="alert alert-warning">{{ error }}</div>
			<form role="form" ng-submit="submitPassword(pass)">
				<div class="form-group">
				  <label for="oldPass">Старий пароль:</label>
				  <input type="password" class="form-control" id="oldPass" ng-model="pass.old" placeholder="Введіть ваш поточний пароль" required>
				</div>
				<div class="form-group">
				  <label for="newPass">Новий пароль:</label>
				  <input type="password" class="form-control" id="newPass" ng-model="pass.new" placeholder="Введіть ваш новий пароль" required>
				</div>
				<div class="form-group">
				  <label for="newPassAgain">Новий пароль (ще раз):</label>
				  <input type="password" class="form-control" id="newPassAgain" ng-model="pass.newAgain" placeholder="Введіть ваш новий пароль ще раз" required>
				</div>
				<button type="submit" class="btn btn-primary">Оновити пароль</button>
				<button type="button" class="btn btn-default" ng-click="changePassword(false)">Відмінити</button>
			</form>
		</div>
	</div>
</div>