<h2>Оберіть графічний файл з вашим зображенням</h2>
<input type='file' id="imgSource"/>

<p id="errorContainer" style="color: red; display: none;"></p>

<div id="cropContainer" style="max-width: 400px; padding-top: 10px; padding-bottom: 10px;"></div>
<a class="btn btn-default" ng-href="#/user/cabinet">Відмінити</a>
<button class="btn btn-primary" id="cropBtn" style="display: none;">Зберегти</button>
<div id="hiddenResult" style="display: none" ng-init="init()">
    <canvas id="imgOutput">Update your browser</canvas>
</div>

