<div class="row">
	<div class="col-md-4">
		<h3>Реєстраційний код</h3>
		<button ng-hide="regCode" class="btn btn-primary" ng-click="showRegCode()">Показати</button>
		<div ng-show="regCode">
			<p class="lead">{{ regCode }}</p>
			<button class="btn btn-default" ng-click="changeRegCode()">Змінити</button>
		</div>
	</div>
	<div class="col-md-8">
		<h3>Розділи панелі адміністратора</h3>
		<a class="btn btn-primary" ng-href="#/admin/users">Користувачі</a>
		<a class="btn btn-primary" ng-href="#/admin/assistances">Повідомлення про допомогу</a>
		<a class="btn btn-primary" ng-href="#/admin/groups">Розділи допомоги</a>
		<a class="btn btn-primary" ng-href="#/admin/userMessages">Повідомлення від користувачів</a>
	</div>
</div>
