<h2 ng-hide="hasParentGroup">Розділи допомоги</h2>
<h2 ng-show="hasParentGroup">Розділ "{{ parentGroup.name }}"</h2>

<div class="col-md-4 col-lg-4">
	<table class="table table-hover">
		<div ng-show="error" class="alert alert-warning">{{ error }}</div>
		<p ng-show="hasParentGroup">
			<a href="#/admin/groups/{{parentGroup.parentId}}">
				<span class="glyphicon glyphicon-arrow-up"></span> Повернутися
			</a>
		</p>
		<thead>
			<tr>
				<th>Розділ</th>
				<th colspan="2">Дії</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="group in groupList" id="grLine{{group.id}}">
				<td><p><a href="#/admin/groups/{{group.id}}">{{ group.name }}</a></p></td>
				<td><a ng-click="showGroupPrices($index)">Ціни</a></td>
				<td><a ng-click="removeGroup($index)" title="Видалити">[ X ]</a></td>
			</tr>
		</tbody>
	</table>
	<button ng-hide="inAddForm" class="btn btn-primary" ng-click="showAddGroup()">Нова група</button>
	<form ng-show="inAddForm" role="form" ng-submit="createGroup()">
		<div class="form-group">
		  <label for="groupName">Назва групи</label>
		  <input type="text" class="form-control" id="groupName" required ng-model="currGroup.name" placeholder="Введіть назву нової групи допомоги">
		</div>
		<button type="submit" class="btn btn-primary">Зберегти</button>
		<button type="button" class="btn btn-default" ng-click="hideAddGroup()">Відмінити</button>
	</form>
</div>
<div ng-show="priceDetails.show" class="col-md-8 col-lg-8">
	<h3>{{priceDetails.group.name}}</h3>
	<p>Рекомендовані ціни</p>
	<table class="table table-hover">
		<thead>
			<tr>
				<th rowspan="2">Назва</th>
				<th rowspan="2">Одиниці виміру</th>
				<th colspan="3" class="text-center">Одиниця в балах (рекомендовано)</th>
				<th rowspan="2" colspan="2">Дії</th>
			</tr>
			<tr>
				<th>Сорт 1</th>
				<th>Сорт 2</th>
				<th>Не сезон</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="priceItem in priceDetails.priceList">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>edit</td>
				<td>del</td>
			</tr>
		</tbody>
	</table>
	<button ng-hide="priceDetails.inAddForm" class="btn btn-primary" ng-click="priceDetails.showAddPrice()">Додати позицію</button>
	<form ng-show="priceDetails.inAddForm" role="form" ng-submit="priceDetails.createPrice()">
		<div class="form-group">
		  <label for="priceName">Вид продукції / Товару / Послуг</label>
		  <input type="text" class="form-control" id="priceName" required ng-model="priceDetails.item.name" placeholder="Введіть назву">
		</div>
		<div class="form-group">
		  <label for="priceMeasure">Одиниця виміру</label>
		  <input type="text" class="form-control" id="priceMeasure" ng-model="priceDetails.item.measure" placeholder="Введіть одиницю виміру">
		</div>
		<div class="form-group">
		  <label for="priceGradeOne">Ціна для 1-го сорту</label>
		  <input type="text" class="form-control" id="priceGradeOne" ng-model="priceDetails.item.gradeOne" placeholder="Введіть ціну для першого сорту">
		</div>
		<div class="form-group">
		  <label for="priceGradeTwo">Ціна для 2-го сорту</label>
		  <input type="text" class="form-control" id="priceGradeTwo" ng-model="priceDetails.item.gradeTwo" placeholder="Введіть ціну для другого сорту">
		</div>
		<div class="form-group">
		  <label for="priceOutOfSeason">Ціна в не сезон</label>
		  <input type="text" class="form-control" id="priceOutOfSeason" ng-model="priceDetails.item.outOfSeason" placeholder="Введіть ціну в не сезон">
		</div>
		<button type="submit" class="btn btn-primary">Зберегти</button>
		<button type="button" class="btn btn-default" ng-click="priceDetails.hideAddPrice()">Відмінити</button>
	</form>
</div>
