<div class="row">
	<div class="col-md-12">
		<h2>Повідомлення від користувачів</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Дата</th>
					<th>Автор</th>
					<th>Повідомлення</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="letter in newMessages">
					<td><span ng-hide="letter.read" class="glyphicon glyphicon-envelope"></span><span ng-show="letter.read" class="glyphicon glyphicon-folder-open"></span> {{ letter.createTime }}</td>
					<td>
						E-mail: {{ letter.fromUser.login }}<br>
						Телефон: {{ letter.fromUser.options.phone }}<br>
						{{ letter.fromUser.options.lastName }} {{ letter.fromUser.options.firstName }} {{ letter.fromUser.options.middleName }}
					</td>
					<td>
						<a ng-hide="letter.read" class="btn btn-primary" ng-click="readLetter($index)">Читати</a>
						<p ng-show="letter.read">{{letter.message}}</p>
					</td>
				</tr>
			</tbody>
	</div>
</div>