<h2>Користувачі:</h2>
<p ng-show="isLoading">Чекайте, іде завантаження...</p>
<p ng-show="isError">Упс! Трапилась помилка :(</p>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="searchUsers">Пошук користувача</label>
    <input type="text" ng-model="search" class="form-control" id="searchUsers" placeholder="Пошук користувача">
  </div>
</form>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Логін</th>
			<th>Роль</th>
			<th>Стан</th>
			<th>Видалення</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in userList | filter:search">
			<td>{{ user.login }} <span ng-hide="user.enabled" class="glyphicon glyphicon-ban-circle"></span></td>
			<td>{{ user.role }}</td>
			<td>
				<span ng-hide="user.role == 'ADMIN'">
					<a ng-show="user.enabled" ng-click="blockUser(user.id)" class="btn btn-link">Заблокувати</a>
					<a ng-hide="user.enabled" ng-click="unblockUser(user.id)" class="btn btn-link">Розблокувати</a>
				</span>
			</td>
			<td>
				<span ng-hide="user.role == 'ADMIN'">
					<a ng-hide="user.enabled" ng-click="removeUser(user.id)" class="btn btn-link" title="Видалити користувача з системи">
						<span class="glyphicon glyphicon-remove"></span> Видалити з системи
					</a>
				</span>
			</td>
		</tr>

	</tbody>
</table>
