<div class="row">
	<div class="col-md-4">
		<h3>Реєстраційний код</h3>
		<button ng-hide="regCode" class="btn btn-primary" ng-click="showRegCode()">Показати</button>
		<p class="lead" ng-show="regCode">{{ regCode }}</p>
	</div>
	<div class="col-md-8">
		<h3>Розділи панелі адміністратора</h3>
		<a class="btn btn-primary" ng-href="#/admin/users">Користувачі</a>
		<a class="btn btn-primary" ng-href="#/admin/assistances">Повідомлення про допомогу</a>
		<a class="btn btn-primary" ng-href="#/admin/groups">Розділи допомоги</a>
	</div>
</div>
