<h2>Розділи допомоги</h2>

<div class="col-md-6 col-lg-6">
	<table class="table table-hover">
		<div ng-show="error" class="alert alert-warning">{{ error }}</div>
		<thead>
			<tr>
				<th>Розділ</th>
				<th>Дія</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="group in groupList">
				<td><p>{{ group.name }}</p></td>
				<td><a ng-hide="group.readOnly" ng-click="removeGroup($index)">Видалити</a></td>
			</tr>
		</tbody>
	</table>
	<button ng-hide="inAddForm" class="btn btn-primary" ng-click="showAddGroup()">Нова група</button>
	<form ng-show="inAddForm" role="form" ng-submit="createGroup()">
		<div class="form-group">
		  <label for="groupName">Назва групи</label>
		  <input type="text" class="form-control" id="groupName" required ng-model="currGroup.name" placeholder="Введіть назву нової групи допомоги">
		</div>
		<button type="submit" class="btn btn-primary">Зберегти</button>
		<button type="button" class="btn btn-default" ng-click="hideAddGroup()">Відмінити</button>
	</form>
</div>

