div#mainView {
	min-height: 400px;
	padding: 8px;
	background: url(../images/tweed.png);
}

body {
	background: url(../images/leather_texture.png);
}

#loginInfo {
	color: #9eff44;
}

ul.nav.nav-tabs li.active a {
	color: white;
}

